.add-client-section,.add-supplier-section {
    padding: 20px;
  }
  
  .add-client-form,.add-supplier-form {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .column {
    flex: 1;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .save-client-btn,.save-supplier-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-default);
    color: white;
    font-size: 16px;
    transition: 1s;
  }
  .save-client-btn:hover ,.save-supplier-btn:hover{
    background-color: var(--color-second);
    transform: scale(1.01);
  }
  .error {
    color: #e74c3c;
    font-size: 0.9em;
    display: block;
    background-color: #f8d7da; 
    border-left: 3px solid #e74c3c;
    border-radius: 4px;
    padding: 10px;
    margin-top: -10px;
    line-height: 1.4;
    font-family: Arial, sans-serif; 
  }
   